@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400&family=Caveat+Brush&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AnniesHandwriting";
  src: url("../public/AnniesHandwriting.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Caveat Brush", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  height: 100vh;
  /* background-color: yellow; */
  backgroundcolor: "#97FFE5";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.dark-red {
  background-color: #b32f0e;
}

.light-red {
  background-color: #ff6842;
}

.medium-red {
  background-color: #ff5429;
}

.dark-green {
  background-color: #00b378;
}

.light-green {
  background-color: #29ffb9;
}

.medium-blue {
  background-color: #97ffe5;
}

.light-blue {
  background-color: #e3fff8;
}

input,
textarea {
  background-color: white;
}
